
* {
  box-sizing: border-box;
  border-radius: 15px;
}

html{
  font-size: 14px;
  font-family: helvetica, monospace, arial, sans-serif;
  height: 100%;
  padding: 10px;
  /* Decided to overwrite colors defined on previous exercises in order
  to make more explicit element's layout */
  background: white !important;
  overflow-y: auto;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
  /* Decided to overwrite colors defined on previous exercises in order
  to make more explicit element's layout */
  background: #424242;
}

header, footer, aside, nav {
  background-color: #757575;
}

header, footer {
  text-align: center;
}

/* ul and li were only as a test (and because I didn't like previous nav design) */

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 1em 0;
  height: 2.5em;
  text-indent: 0.5em;
  text-align: left;
  margin-bottom: 5px;
  border-bottom: thin groove white;
  border-radius: 0;
}

li:hover {
  cursor: pointer;
  color: white;
}


.header {
  display: table;
  font-size: 16px;
  width: 100%;
  height: calc((100% - 30px) * 0.15);
  padding-top: 0;
  margin: auto auto 15px;
  border: inherit;
}

.footer {
  display: table;
  font-size: 10px;
  width: 100%;
  height: calc((100% - 30px) * 0.10);
  margin: 0 auto;
  clear: both;
  border: inherit;
}

.sidebar, .content, .navigation {
  height: calc((100% - 30px) * 0.75);
  padding: 2%;
  margin: auto auto 15px;
}

.content {
  font-size: 14px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc((100% - 30px) * 0.55);
  float: left;
  /* Decided to overwrite colors defined on previous exercise in order
  to make more explicit element's layout */
  background: #BDBDBD;
}

.navigation {
  font-size: 12px;
  margin-right: 7.5px;
  width: calc((100% - 30px) * 0.225);
  float: left;
}

.sidebar {
  font-size: 10px;
  margin-left: 7.5px;
  width: calc((100% - 30px) * 0.225);
  line-height: 100%;
  float: right;
  overflow-y: auto;
}

.content header, .content footer {
  display: table;
  width: 100%;
}

.content header {
  height: 15%;
}

.content footer {
  height: 10%;
}


.content article {
  height: 65%;
  padding: 0 2.5%;
  overflow-y: auto;
}

/*[class] has same specifity but it's applied over classes defined on point 03
because last read property is applied when specifity is the same*/
[class] {
  font-weight: bold;
}


/* 07 --> Although it is not a good practice !important can be used.
If you see HTML an inline style has been specified for h1 in main header
--> background: red
by using !important this inline style is overriden */
[class$="r"] {
  background: magenta !important;
}

[class*="a"]:not([class$="r"]) {
  background: blue;
}

.sidebar h3 {
  text-decoration: underline;
}

.sidebar p {
  text-align: justify;
}

header h1, header h2, footer p {
  display: table-cell;
  vertical-align: middle;
}
